# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Environment Variables
.env

# Firebase Credentials (SANGAT PENTING)
serviceAccountKey.json
firebase-service-key.json

# Vendor & IDE
vendor/
.idea/
.vscode/
*.swp